#game {
  margin-top: 60px;
  position: relative;
}

#game-screen {
  position: relative;
}

#screen {
  max-width: 100%;
}

.dropdown {
  position: absolute;
}

.dropdown-rel-wrapper {
  position: relative;
}

.crosshair {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.crosshair-border {
  border: 2px solid black;
}

.crosshair-inner {
  background-color: aquamarine;
  opacity: 30%;
}

.dropdown {
  z-index: 9999;
}

.dropdown-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 1rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  border-style: dotted;
}

.dropdown-item:hover {
  background-color: #e8e8e4;
  cursor: pointer;
}

.dropdown-item:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.dropdown-item > img {
  width: 50px;
  margin-right: 1rem;
}

.no-display {
  visibility: hidden;
}

#score-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 1rem;
}

#score-name {
  margin: 1rem 0;
}

.form-errors {
  color: red;
  margin-bottom: 1rem;
}

.greyscale-60 {
  filter: grayscale(60%);
}

.found-circle {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px green solid;
  transform: translate(-50%, -50%);
}
