.header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #363636;
  z-index: 9999;
}

.header a {
  color: white;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red solid;
  height: 100%;
  min-width: 150px;
}

.home-link {
  margin-right: auto;
}

.rel-wrapper {
  position: relative;
}
