.screen-select-container {
  background-color: #e9fff9;
}

.screen-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 8px grey;
  transition: box-shadow 0.3s ease;
}

.screen-container:hover {
  box-shadow: 0 5px 15px grey;
}

.screen-container:first-child {
  margin-top: 100px;
}

.screen-thumbnail {
  position: relative;
  max-width: 600px;
}

.screen-thumbnail:hover {
  cursor: pointer;
}

.screen-name {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgba(233, 255, 249, 0);
  color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.screen-name:hover {
  background-color: rgba(233, 255, 249, 0.2);
  color:rgba(0, 0, 0, 1);
}

.screen-image {
  width: 100%;
}

.screen-score-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.screen-scores {
  border: 1px #c4ecea solid;
  border-radius: 1rem;
  width: 300px;
  margin-left: 50px;
  overflow: auto;
  white-space: nowrap;
  padding: 0.8rem;
}