.screen-select-container {
  background-color: #e9fff9;
}

.screen-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 8px grey;
  transition: box-shadow 0.3s ease;
}

.screen-container:hover {
  box-shadow: 0 5px 15px grey;
}

.screen-thumbnail {
  position: relative;
  max-width: 600px;
}

.screen-thumbnail:hover {
  cursor: pointer;
}

.screen-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 9999;
}

.screen-image {
  width: 100%;
}

.screen-score-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.screen-scores {
  border: 1px #c4ecea solid;
  border-radius: 1rem;
  width: 300px;
  margin-left: 50px;
  overflow: auto;
  white-space: nowrap;
}